<%- include('../partials/header') %>
    <h1>Pick a Yoga Flow</h1><br><br>
    <table id="all-flows-table" class="table" id="flows">
        <thead id="flow-list-heading" class="table-light">
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="flow-list-body">
            <% flows.forEach(function(f) { %>
                <tr>
                    <td>
                        <a href="/flows/<%= f._id %>" id= "flow-name">
                            <%= f.name %>
                        </a>
                    </td>
                    <td id="category">
                        <%= f.category %>
                    </td>
                    <td>
                        <form action="/flows/<%= f._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn-close" aria-label="Close"></button>
                        </form>
                    </td>
                    <td>
                        <a href="/flows/<%= f._id %>/edit">Edit this Flow</a>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>