<%- include('../partials/header') %>

    <h1>Pick a Yoga Flow</h1>
    <table id="flows">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% flows.forEach(function(f) { %>
                <tr>
                    <td><a href="/flows/<%= f._id %>"><%= f.name %></td></a>
                    <td><%= f.category %></td>
                    <td>
                        <form action="/flows/<%= f._id %>?_method=DELETE" method="POST">
                            <button type="submit">DELETE FLOW</button>
                        </form>
                    </td>
                </tr>
                <% }); %> 
        </tbody>
    </table>

<%- include('../partials/footer') %>